streamlit
aiohttp #This is for telegram
# python-dotenv #for .env
# torch
# torchvision
# numpy
# encoded-video
# moviepy
# Pillow
# av
# opencv-python-headless

opencv-python
mediapipe
stow
numpy
tqdm
onnxruntime
tf2onnx
tensorflow