torch
torchvision
streamlit
gradio
numpy
encoded-video
moviepy
Pillow
av

# python-dotenv
# streamlit
# pandas 
# openpyxl
# beautifulsoup4
# tenacity
# selenium
# webdriver-manager
# # groq
# requests
# PyPDF2
# docx2txt
# langdetect


# gradio
# torch
# torchvision
# Pillow
# gdown
# numpy
# scipy
# cmake
# onnxruntime-gpu
# opencv-python-headless
# encoded-video
# moviepy
# av